
.startup3{
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin: 5rem auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.st3-left{
    width: 55%;
    display: flex;
    padding: 5rem 0 0 0;
    /* align-items: center; */
    /* gap: 1rem; */
    flex-direction: column;
    
}

.st3-left .st-heading{
    max-width: 1280px;
    width: 100%;
    font-size: 56px;
    padding: 0  0 0 2.5rem;
    color: #1a1a1a;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 auto 5px auto;
    text-align: left;    
    
}
.st3-left .st3-con{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem 0 0 2.5rem;
    margin: 1rem 0 0 0;
    
}
.st3-left .st3-con p{
    width: 50%;
    font-size: var(--small);
    color: #6c757d;
    line-height: 1.2;
    /* text-align: left; */
    margin-bottom: 1rem;

    
}

.st3-right {
    width: 60%;
    height: 100%;
    padding:  0;
}

.st3-right img{
    height:250px;
}








